<!DOCTYPE html>
<html lang="en">

<head>
    <title>BlockGeeks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/galleryAssets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/galleryAssets/css/magnific-popup.css">
    <link rel="stylesheet" href="/galleryAssets/css/jquery-ui.css">
    <link rel="stylesheet" href="/galleryAssets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/galleryAssets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/galleryAssets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/galleryAssets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/galleryAssets/css/aos.css">
    <link rel="stylesheet" href="/galleryAssets/css/fancybox.min.css">
    <link rel="stylesheet" href="/galleryAssets/css/style.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!--  <header class="header-bar d-flex d-lg-block align-items-center" data-aos="fade-left">
            <div class="site-logo">
                <a href="index.html">BlockGeeks</a>
            </div>
            <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
            <div class="main-menu">
                <ul class="js-clone-nav">
                    <li class="active"><a href="gallery.html">Home</a></li>
                    <li><a href="#">BlockChain Hackers</a></li>
                    <hr>
                    <hr>
                    <li>
                    </li>
                    <hr>
                    <li></li>
                </ul>
            </div>
        </header> -->
        <main class="main-content">
            <input type="text" id="imageToSearch" class="form-control">
            <input type="submit" value="Search" class="btn btn-primary btn-md text-white" onclick="searchImage()">
            <div class="container-fluid photos">
                <div class="row align-items-stretch" id="galleryImages">
                    <% publishedImages.forEach((img) => { %>
                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <img src="<%= img %>" alt="Image" class="img-fluid">
                    </div>
                    <% }) %>
                </div>
            </div>
        </main>
    </div> <!-- .site-wrap -->
    <script src="/galleryAssets/js/jquery-3.3.1.min.js"></script>
    <script src="/galleryAssets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/galleryAssets/js/jquery-ui.js"></script>
    <script src="/galleryAssets/js/popper.min.js"></script>
    <script src="/galleryAssets/js/bootstrap.min.js"></script>
    <script src="/galleryAssets/js/owl.carousel.min.js"></script>
    <script src="/galleryAssets/js/jquery.stellar.min.js"></script>
    <script src="/galleryAssets/js/jquery.countdown.min.js"></script>
    <script src="/galleryAssets/js/jquery.magnific-popup.min.js"></script>
    <script src="/galleryAssets/js/bootstrap-datepicker.min.js"></script>
    <script src="/galleryAssets/js/aos.js"></script>
    <script src="/galleryAssets/js/jquery.fancybox.min.js"></script>
    <script src="/galleryAssets/js/main.js"></script>
</body>

</html>