/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/
a {
  color: #00B7FF;
}

/* fluid 5 columns */
.grid-sizer,
/*.grid-item { width: 30%; }*/
/* 2 columns wide */
.grid-item--width2 { width: 40%; }
.grid img { width: 100%; padding: 2px; }

.img-fluid {
	padding-bottom: 4px;
	padding-right: 4px;
}

.col-md-4.no-padding {padding: 0;}
.right {float: right;}
.no-padding .custom-select { margin-right: 4px; }

.consented-image img{
	border: solid 3px green;
    border-radius: 9px;
    padding: 0;
    /*margin: 10px;*/
}
.consented-image{
	padding:5px!important;
}

.normal-image img{
	padding:0;
	border-radius: 9px;
}
.normal-image {
	padding:5px!important;
}
.form-control {
	margin-bottom: 5px;
}
